<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Home Page</title>
</head>
<body>
  <h1>Covid Vaccination Booking</h1>
  <div class="result-box">
  <h2>User Login</h2>
  <p>Login Page: <a href="/auth/login">Log In</a></p>
  <p>Are you a new user? <a href="/auth/signup">Sign up</a></p>
  </div>
  <div class="result-box">
  <h2>Admin Login</h2>
  <p>Login Page: <a href="/admin/login">Log In</a></p>
  </div>
  <hr>
  <p>Submitted for DevRev Task Round - Problem Statement #2 : Covid Vaccination Booking</p>
  <p>Full-Stack : ExpressJS, MongoDB, Mongoose, EJS</p>
  <p>Done by Vijayvenkatajalapathi G,</p>
  <p>RollNo - 20EUCS167, SKCET, Coimbatore.</p>
  <hr>
</body>
</html>
